/* We don't want any underlines */

* {
    text-decoration: none;
}

.todo {

    width: 50%;

}

.priority {

    width: 3em;


}

.priorityLabel {
    display: inline;
}

.prioritySelect {
    display: inline;

}

.column-title {
    text-align: center;
}

/* .bucket-list-item:hover {
    font-size: 2em;
} */

.bucket-list-item {
    display: inline;
}

.no-underline-link {
    text-decoration: none;
}

.center-button {
    text-align: center;

}

.icon-button {
    font-size: .75em;
    border-radius: 30px;

}

.hidden {
    display: none;
}

.large-icon {
    font-size: 2em;

}
