.priority {

    width: 3em;


}

.priorityLabel {
    display: inline;
}

.prioritySelect {
    display: inline;

}

.column-title {
    text-align: center;
}

.column-title:hover {
    font-weight: 2em;
}
