.priority {

    width: 3em;


}

.priorityLabel {
    display: inline;
}

.prioritySelect {
    display: inline;

}

.column-title {
    text-align: center;
}

.bucket-list-item:hover {
    font-size: 2em;
}

.bucket-list-item {
    display: inline;
}

.no-underline-link {
    text-decoration: none;
}

.center-button {
    text-align: center;

}

.icon-button {
    font-size: .5em;
}

.hidden {
    display: none;
}
