
h1 {
 color: red;
}

div:hover {
    font-weight: bold;
}

#div1 {
    font-size: 10pt;
    background-color:red;
}

#div2 {
    font-size: 20pt;
    background-color:blue;
}

#div3 {
    font-size: 30pt;
    background-color:yellow;
}

  